<mat-toolbar  class="mat-elevation-z2">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      Lotus Hygiene Systems
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavwidth()">
      <!-- <app-custom-sidenav /> -->
      <app-custom-sidenav [collapsed]="collapsed()"/>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavwidth()"> 
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>