<div class="sidenav-header">
    <img [width]="profilePicSize()" [height]="profilePicSize()" src="/assets/profile.jpg" />
    <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
        <h2>Your channel</h2>
        <p>Tony Wang</p>
    </div>
</div>
<mat-nav-list>
    <a  *ngFor="let item of menuItems()" mat-list-item [routerLink] = "[item.route]">
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        <span matListItemTitle *ngIf="!sideNavCollapsed()">{{item.label}}</span>
    </a>
</mat-nav-list>


